.page-header{
  background: url(/images/header-bg.png) no-repeat;
  background-size: 100%;
  min-height: 50px;
  position: fixed;
  width: 100%;
  .header-title{
    position: absolute;
    font-size: 25px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 99;
    cursor: pointer;
    color: #fff;
  }
}